<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginControllerV</servlet-name>
        <servlet-class>com.controllers.LoginControllerV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterControllerV</servlet-name>
        <servlet-class>com.controllers.RegisterControllerV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>com.controllers.LogoutControllerV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>com.controllers.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeControllerV</servlet-name>
        <servlet-class>com.controllers.HomeControllerV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderAdminV</servlet-name>
        <servlet-class>com.controllers.OrderAdminV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>com.controllers.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountController</servlet-name>
        <servlet-class>com.controllers.AccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryControllerV</servlet-name>
        <servlet-class>com.controllers.CategoryControllerV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackControllerY</servlet-name>
        <servlet-class>com.controllers.FeedbackControllerY</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProductY</servlet-name>
        <servlet-class>com.controllers.AdminProductY</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>com.controllers.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProduct</servlet-name>
        <servlet-class>com.controllers.CreateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductAdmin</servlet-name>
        <servlet-class>com.controllers.EditProductAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailProductAdmin</servlet-name>
        <servlet-class>com.controllers.DetailProductAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadProductController</servlet-name>
        <servlet-class>com.controllers.LoadProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginControllerV</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterControllerV</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeControllerV</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderAdminV</servlet-name>
        <url-pattern>/Order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/Product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountController</servlet-name>
        <url-pattern>/Account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryControllerV</servlet-name>
        <url-pattern>/Category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackControllerY</servlet-name>
        <url-pattern>/FeedbackY</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProductY</servlet-name>
        <url-pattern>/AdminProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/DeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProduct</servlet-name>
        <url-pattern>/CreateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductAdmin</servlet-name>
        <url-pattern>/EditProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailProductAdmin</servlet-name>
        <url-pattern>/DetailProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadProductController</servlet-name>
        <url-pattern>/LoadProduct</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Home</welcome-file>
    </welcome-file-list>
</web-app>
